<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

<bean class="com.nt.beans.DTDC" id="dtdc"/>
<bean class="com.nt.beans.BlueDart" id="bDart"/>
<bean class="com.nt.beans.Flipkart" id="fpkt">
<constructor-arg ref="bDart"/>
</bean>
</beans>
